---
layout: archive
author_profile: true
title: Mehul Prajapati's Blog
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: embedded.jpg
---
{% include base_path %}

<h2>Welcome to my blog</h2>

This is my personal blog covering Embedded Linux, TCP/IP Networking, IoT, Python tweaks and other musings

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
