<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/mehul-m-prajapati/pmacct">PMacct</a></strong> <br/>
			IP data traffic accounting
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/mehul-m-prajapati/cryptography">Cryptography</a></strong> <br/>
			Ciphering data
		</h5>
    		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/mehul-m-prajapati/canboat">Canboat</a></strong> <br/>
			NMEA message parser
		</h5>
		</h5>
    </div>
  </div>
</div>
</section>
