<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/mehul-m-prajapati/pmacct">IP data traffic accounting</a></strong>
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/mehul-m-prajapati/cryptography">Ciphering data</a></strong>
		</h5>
    		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/mehul-m-prajapati/canboat">NMEA message parser</a></strong>
		</h5>
		</h5>
    </div>
  </div>
</div>
</section>
